@font-face {
  font-family: "Director";
  src: url("Director-Regular.woff2") format("woff2"), url("Director-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$w: #f5f5f4;
$b: #2f2929;
$b-lighter: rgba(47, 41, 41, 0.5);
$p: #d9b4c0;

* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Director";
  letter-spacing: -.5px;
  line-height: 110%;

  color: $b;
  background: $p;
  //  background-image: url(clouds.gif);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  max-width: 100vw;
  overflow-x: hidden;
}


#instructions {
  position: fixed; 
}

main {
  //  min-height: 300vh;
  min-height: 2000px;
}

#clock {
  box-sizing: border-box;
  position: fixed;
  z-index: 99;
  bottom: 0px;
  left: 0;
  margin: 2em 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

  .words {
    padding: .5em 1em;
    color: $b;
//    background: $p;
    font-size: .7rem;
    border-radius: 20px;
    width: auto;
  }
  
  .words .actions{
    padding: .5em;
    cursor: pointer;
    
    a{
      padding: .5em;
      margin: 0;
    }
    
    a.small{
      font-size: .9em;
      opacity: 0.8;
    }
    
    a:hover{
      text-shadow: 0 0 8px $b-lighter;
//      text-shadow: 0 0 8px $b;
    }
    
  }

}





#decor {
  //  display: unset;
}


.decor.flower-remain{
  position: absolute;
}

img.flower-remain{
  mix-blend-mode: overlay;
  filter: brightness(1.5);
  z-index: 9;
  max-width: 50px;
  object-fit: contain;
}

.cliff {
  position: fixed;
  width: 480px;
  height: 200px;
  bottom: -5px;
  right: 0;
  z-index: 99;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(rock.gif);
  filter: brightness(0.8) contrast(1.2);
  display: none;
}

.cliff.flip {
  left: 0;
  bottom: 0;
  width: 900px;
  //  max-width: 60vw;
  height: 205px;
  background-image: url(rock2.gif);
}

.flowers-front {
  position: absolute;
  width: 100vw;
  height: 400px;
  top: 490px;
  //  bottom: 0;
  object-fit: contain;
  z-index: 2;
  mix-blend-mode: screen;
  background-image: url(flower-field1.gif);
  background-size: 40%;
  filter: brightness(0.9);
}

.grass {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100vw;
  height: 500vh;
  max-height: 1300px;
  top: 450px;
  bottom: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url(grass.gif);
  background-position: center center;
  mix-blend-mode: darken;
  filter: brightness(1.2);
}

.grave {

  position: absolute;
  cursor: help;
  //    mix-blend-mode: multiply;

  img {
    display: inline-block;
    width: 140px;
    max-width: 20vw;
    filter: brightness(0.6);
  }
  
  .candle{
    position: relative;
    margin-top: -200px;
    
    img{
      object-fit: contain;
      width: 100px;
      max-width: 60vw;
      filter: brightness(0.9);
    }
    
  }

  .flowers {
    position: relative;
    background: red;
    width: 100%;
    display: block;

    img {
      width: 220px;
      max-width: 80vw;
      filter: brightness(0.9);
      mix-blend-mode: darken;
      position: absolute;
      margin-top: -40px;
      margin-left: -80px;
    }
  }
}

.grave:hover {
  cursor: pointer;

  img {
    filter: brightness(0.8);
  }

  .flowers {
    img {
      filter: brightness(0.8);
    }
  }


}



// VIEW: GRAVE

.view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  .bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-image: url(noise.gif);
    mix-blend-mode: color-burn;
    opacity: 0.3;
    background-size: 30%;
  }
}


#view-grave {

  background: $p;
  display: flex;
//  display: none;

  .wrapper {
    text-align: center;
    z-index: 20;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: darken;
  }

  .grave {

    margin: 0 auto;
    mix-blend-mode: darken;
    margin-top: 30vh;

    .grave-stone {
      width: 220px;
      max-width: 80vw;
      filter: brightness(0.8);
    }

    .flowers {
      background: $p;
      position: relative;
      mix-blend-mode: darken;

      img {
        mix-blend-mode: darken;
        filter: brightness(0.8);

      }
    }
  }
}
